/* header */

position: absolute;
width: 1440px;
height: 90px;
left: 0px;
top: 0px;



/* Rectangle 26 */

position: absolute;
width: 1440px;
height: 90px;
left: 0px;
top: 0px;

background: rgba(242, 120, 92, 0.7);
box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);


/* logo */

position: absolute;
width: 216px;
height: 31px;
left: 120px;
top: 25px;



/* Vector */

position: absolute;
left: 8.33%;
right: 89.58%;
top: 0.7%;
bottom: 98.5%;

background: #FFFFFF;


/* Travel Portal */

position: absolute;
width: 180px;
height: 31px;
left: 156px;
top: 25px;

font-family: 'Magra';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* navigation */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 42px;

position: absolute;
width: 527px;
height: 21px;
left: 494px;
top: 35px;



/* How It Works */

width: 98px;
height: 21px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Plan Your Trip */

width: 105px;
height: 21px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Destinations */

width: 95px;
height: 21px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Travel Stories */

width: 103px;
height: 21px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 229px;
gap: 10px;

position: absolute;
width: 103px;
height: 41px;
left: 1217px;
top: 25px;

background: #0D606F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;


/* Login */

width: 43px;
height: 21px;

font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
